<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth App || Password Reset</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div
      id="app"
      class="container mx-auto max-w-screen-xl min-h-screen flex justify-center items-center p-2"
    >
      <div
        class="w-full p-4 max-w-[400px] border border-slate-400 rounded-lg space-y-3"
      >
        <h1 class="text-xl font-medium">Reset Your Password Now</h1>
        <form @submit.prevent="resetPassword" v-if="!done" class="space-y-3">
          <div>
            <label for="password">New password</label>
            <input
              type="password"
              v-model="password"
              id="password"
              placeholder="New password"
              class="w-full border border-slate-400 focus:border-slate-600 p-3 rounded-lg outline-none mt-1"
            />
          </div>
          <div>
            <label for="confirm_password">Confirm new password</label>
            <input
              type="password"
              v-model="confirm_password"
              id="confirm_password"
              placeholder="Confirm password"
              class="w-full border border-slate-400 focus:border-slate-600 p-3 rounded-lg outline-none mt-1"
            />
          </div>
          <div>
            <button
              type="submit"
              class="bg-blue-500 rounded-lg text-white w-full text-center p-3"
            >
              Reset Password
            </button>
          </div>
        </form>
        <p v-else>
          Your password reset is successful. Please login into your account.
        </p>
      </div>
    </div>
    <script>
      const app = Vue.createApp({
        data: () => ({
          done: false,
          password: "",
          confirm_password: "",
        }),
        methods: {
          async resetPassword() {
            let { password, confirm_password } = this;
            let resetPasswordToken = window.location.href.split("/").pop();
            if (password && password === confirm_password) {
              // make the api request
              let data = await fetch("/users/api/reset-password-now", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ password, resetPasswordToken }),
              }).then((res) => res.json());
              console.log("API_RESPONSE", data);
              if (data.success) {
                this.done = true;
                setTimeout(() => {
                  window.opener = self;
                  window.close();
                }, 5000);
              }
            }
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
